<h2>SisCad</h2>
<p> {{ data.action ? 'Deseja sair do sistema?' : 'Deseja excluir esse registro?' }} </p>
<p *ngIf="!data.action">Produto: <b>{{ data.nome }}</b> </p>
<div class="btn_action">
    <button mat-button aria-label="Alterar Produto" (click)="cancelar()" cdkFocusInitial>Não</button>
    <button *ngIf="!data.action" class="btn_delete" mat-raised-button color="warn" aria-label="Excluir Produto" [mat-dialog-close]="data.id">Sim</button>
    <button *ngIf="data.action" class="btn_delete" mat-raised-button color="warn" aria-label="Sair do Sistema" [mat-dialog-close]="data.action">Sim</button>
</div>