.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.container_content {
    padding: 20px 10px;
    width: 1200px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.item_list {
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.4);
    margin-bottom: 8px;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    p {
        margin: 0;
    }
}

.field {
    width: 100%;
}

.header {
    mat-card-title {
        margin: 0;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 20px 0;
}

.btn_cancel {
    margin-right: 8px;
}
.card_form {
    background-color: #dadadacc;
}

.line_form {
    display: grid;
    grid-column-gap: 10px;
}

.col_form {
    display: grid;
    grid-column-gap: 10px;
}

@media (min-width: 992px) {
    .line_form {
        grid-template-columns: 1fr 1fr;
    }
    .col_form {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 668px) and (max-width: 991px) {
    .line_form {
        grid-template-columns: 1fr 1fr;
    }
    .col_form {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 576px) and (max-width: 667px) {
    .line_form {
        grid-template-columns: 1fr;
    }
    .col_form {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px) {
    .line_form {
        grid-template-columns: 1fr;
    }
    .col_form {
        grid-template-columns: 1fr;
    }
}
